*
!.gitignore
!LICENSE
!README.adoc
!CHANGELOG.adoc
!changelog-details/
!changelog-details/**
!AGENTS.md
!STYLE.adoc
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json
!app.config.ts
!postcss.config.cjs
!tailwind.config.cjs
!ui.config.json
!dprint.jsonc
!src/
!src/**
!public/
!public/**
!.github/
!.github/**
!.nojekyll

src/**/node_modules/
src/**/node_modules/**
node_modules/
node_modules/**
.vinxi/
.vinxi/**
.output/
.output/**
dist/
dist/**
MEMORIES.md
**/MEMORIES.md
